body{
  padding: 50px
}

p{
  margin: 0;
  cursor: pointer;
  user-select: none;
}

.list-group-item{
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.complete{
  text-decoration: line-through;
  opacity: 0.5;
}